.container {
    display: flex;
    width: 400px;

.column {
    position: absolute;
    max-width: 100%;
    flex: 0 0 400px;
}

.bgvideo {
    position: fixed;
    max-width: 100%;
    flex: 0 0 400px;
    z-index: -1;
}

video, canvas {

}

canvas {
    border: 1px solid #ccc;
}
}

.video-container {
    position: absolute;
    left: 645px;
    top: 5px;
    float:left;
    max-width: 640px;
    z-index: 1;
}